body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: 100% 40%;
  font-family: "Red Hat Display";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.fundo-branco {
  margin-top: -0.2rem;
  background-color: white;
  width: 450px;
  height: 480px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.description {
  text-align: center;
  font-size: 16px;
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
}

.plan-anual {
  background-color: #f8f9fe;
  border-radius: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  width: 82%;
  margin: auto;
  margin-bottom: 30px;
}

.iconprice {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.iconprice img {
  object-fit: contain;
}

.iconprice .price {
  text-align: center;
}

.price p {
  margin-top: 0;
  color: #777;
}

.price h2 {
  margin-bottom: 0;
}

.buttons {
  font-family: "Red Hat Display";
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}

.buttons {
  cursor: pointer;
}

.button1 {
  background-color: #382ae1;
  padding: 1rem 7rem;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 255, 0.2);
}

.button2 {
  background-color: unset;
  border: none;
}

.plan-anual a {
  font-size: 16px;
  font-weight: bold;
  color: #382ae1;
}

.button1:active {
  background-color: #9890f0;
}

.button2:active {
  color: #777;
}

.plan-anual a:active {
  color: #9890f0;
}
footer {
  position: absolute;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
